@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
  overflow: hidden;
  height: 100vh;
  background: url("assets/page-bg-1.jpg");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #44566c;

  * {
    box-sizing: border-box;
  }

  #root {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto scroll;
    height: 100vh;
  }
}

.tag {
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 8px;
}
